<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0"> Palestrantes </h4>
            <p class="card-category"> Lista de Palestrantes</p>
          </div>
          <div class="card-body">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
            </mat-form-field>
            <div class="table-responsive">
              <mat-table class="table table-hover" [dataSource]="dataSource" matSort>
                <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
                <mat-row *matRowDef="let row; columns: colunas;"></mat-row>
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Ações
                  </mat-header-cell>
                  <mat-cell *matCellDef="let speaker">
                    <a [routerLink]="['../activities', speaker.id]" class="btn btn-info btn-sm">
                      <mat-icon>details</mat-icon>
                    </a>
                    <a [routerLink]="['./edit', speaker.id]" class="btn btn-warning btn-sm">
                      <mat-icon>editar</mat-icon>
                    </a>
                    <button class="btn btn-danger btn-sm" (click)="delete(speaker.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Nome
                  </mat-header-cell>
                  <mat-cell *matCellDef="let speaker">
                    {{ speaker.name }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Tipo
                  </mat-header-cell>
                  <mat-cell *matCellDef="let speaker">
                    {{ speaker.type }}
                  </mat-cell>
                </ng-container>
              </mat-table>
              <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 25]">
              </mat-paginator>
              <button mat-mini-fab class="float-button" (click)="openDialog()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>