<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0"> Minhas Inscrições </h4>
            <p class="card-category"> Lista de Inscrições</p>
          </div>
          <div class="card-body">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
            </mat-form-field>
            <div class="table-responsive">
              <mat-table class="table table-hover" [dataSource]="dataSource" matSort>
                <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
                <mat-row *matRowDef="let row; columns: colunas;"></mat-row>
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Nome
                  </mat-header-cell>
                  <mat-cell *matCellDef="let subscription">
                    {{ subscription.activity.name }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Descrição da atividade
                  </mat-header-cell>
                  <mat-cell *matCellDef="let subscription">
                    {{ subscription.activity.description }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="beginning_date">
                  <mat-header-cell *matHeaderCellDef>
                    Data Inicio
                  </mat-header-cell>
                  <mat-cell *matCellDef="let subscription">
                    {{ subscription.activity.beginning_date }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="certificate">
                  <mat-header-cell *matHeaderCellDef>
                    Cancelar/ Baixar Certificado
                  </mat-header-cell>
                  <mat-cell *matCellDef="let subscription">
                    <div *ngIf="subscription.check_in == 1">
                      <!--<button class="btn btn-success btn-sm" (click)="getCertified(subscription.event_id,subscription.user_id,1)">-->
                      <button class="btn btn-success btn-sm">
                        <a href="http://localhost:8000/certificates/?event_id={{subscription.event_id}}&user_id={{subscription.user_id}}">
                          Certificado
                        </a>
                      </button>
                    </div>
                    <div *ngIf="subscription.check_in == 0">
                      <button class="btn btn-warning btn-sm" (click)="cancel(subscription.id,0)">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </div>
                  </mat-cell>
                </ng-container>
              </mat-table>
              <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 25]">
              </mat-paginator>
            </div>
          </div>