<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Perfil</h4>
                        <p class="card-category">Editar perfil</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="CPF (disabled)" name="cpf" [(ngModel)]="user.cpf"
                                            disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Registro" name="register_id" [(ngModel)]="user.register_id">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Segundo registro" name="second_register_id"
                                            [(ngModel)]="user.second_register_id">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nome" name="name" [(ngModel)]="user.name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="user.email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Endereço" type="text" name="full_adress"
                                            [(ngModel)]="user.full_adress">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nº" type="text" name="adress_number" [(ngModel)]="user.adress_number">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Complemento" type="text" name="adress_complement"
                                            [(ngModel)]="user.adress_complement">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Cidade" type="text" name="city" [(ngModel)]="user.city">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Estado" type="text" name="state" [(ngModel)]="user.state">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Distrito" type="text" name="district" [(ngModel)]="user.district">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="CEP" type="text" name="postal_code" [(ngModel)]="user.postal_code">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Telefone" type="text" name="phone_number"
                                            [(ngModel)]="user.phone_number">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Possuí whatsapp?" type="text" name="available_whatsapp"
                                            [(ngModel)]="user.available_whatsapp">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Linkedln" type="text" name="linkedin" [(ngModel)]="user.linkedin">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Facebook" type="text" name="facebook" [(ngModel)]="user.facebook">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Twitter" type="text" name="twitter" [(ngModel)]="user.twitter">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Público" type="text" name="bond_id" [(ngModel)]="user.bond_id">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Data de Inicio" type="date" name="created_at"
                                            [(ngModel)]="user.created_at">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Date de fim" type="date" name="updated_at"
                                            [(ngModel)]="user.updated_at">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Sobre mim</label>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Salvar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                            <img class="img" height="500px" src="../assets/img/faces/man.png" />
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Aluno</h6>
                        <h4 class="card-title">Rodrigo Garcia Topan Moreira</h4>
                        <p class="card-description">

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>