<div fxLayout="column" fxLayoutAlign="space-around left">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field fxFlex="100">
      <input matInput placeholder="Nome do palestrante" [(ngModel)]="dados.speaker.name">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field fxFlex="100">
      <input matInput placeholder="Tipo" [(ngModel)]="dados.speaker.type">
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <!--No momento que o usuário selecionar um arquivo disparar change-->
    <input type="file" style="display:none;" (change)="changefile($event)" #fileinput />
    <button mat-button color="primary" (click)="fileinput.click()">
      <mat-icon>add_a_photo</mat-icon> Adicionar Foto
    </button>
    <!--<p #ngIf="nomearquivo !=''">
      <strong>Arquivo: {{ nomearquivo }}</strong>
    </p>-->
  </div>


  <br><br>

  <div style="text-align: center">
    <button mat-button color="primary" (click)="save()">OK</button>
    <button mat-button color="warning" (click)="cancel()">Cancelar</button>
  </div>
</div>