<form [formGroup]="form" fxLayoutAlign="center" novalidate>
  <mat-card class="login-panel">
    <mat-toolbar color="primary">
      <span class="fill-field">Login</span>
    </mat-toolbar>
    <br>
    <br>
    <div fxLayout="column" fxLayoutAlign="space-around left">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="100">
          <input matInput type="email" placeholder="Digite seu email" name="email" formControlName="email">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="100">
          <input matInput type="password" placeholder="Digite sua senha" name="password" formControlName="password">
        </mat-form-field>
        <span matTooltip="Senha deve conter ao menos 6 caracteres">
          <mat-icon>help</mat-icon>
        </span>
      </div>
      <br><br>
      <div fxLayoutAlign="center">
        <!--<button mat-raised-button color="primary" [disabled]="form.invalid" (click)="login()">-->
        <button mat-raised-button color="primary" (click)="login()">
          Entrar
        </button>
      </div>
      <br><br>
      <div fxLayoutAlign="center">
        <a mat-button color="primary" routerLink="/register">
          Não possui uma conta?
        </a>
      </div>
    </div>
  </mat-card>
</form>