<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0"> Editar Local </h4>
          </div>
          <mat-card class="login-panel">
            <div class="card-body">
              <div fxLayout="column" fxLayoutAlign="space-around left">
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <mat-form-field fxFlex="100">
                    <input matInput placeholder="Nome" [(ngModel)]="location.name">
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <mat-form-field fxFlex="100">
                    <input matInput placeholder="Endereço" [(ngModel)]="location.full_adress">
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <mat-form-field fxFlex="25">
                    <input matInput placeholder="Complemento de Endereço" [(ngModel)]="location.adress_complement">
                  </mat-form-field>
                  <mat-form-field fxFlex="25">
                    <input matInput placeholder="Nº do Endereço" [(ngModel)]="location.adress_number">
                  </mat-form-field>
                  <mat-form-field fxFlex="25">
                    <input matInput placeholder="CEP" [(ngModel)]="location.postal_code">
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <mat-form-field fxFlex="25">
                    <input matInput placeholder="Distrito" [(ngModel)]="location.district">
                  </mat-form-field>
                  <mat-form-field fxFlex="25">
                    <input matInput placeholder="Cidade" [(ngModel)]="location.city">
                  </mat-form-field>
                  <mat-form-field fxFlex="25">
                    <input matInput placeholder="Estado" [(ngModel)]="location.state">
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <mat-form-field fxFlex="100">
                    <input matInput placeholder="Ponto de referência" [(ngModel)]="location.reference_point">
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <mat-form-field fxFlex="25">
                    <input matInput placeholder="Dias ativos" type="number" [(ngModel)]="location.work_days">
                  </mat-form-field>
                  <mat-form-field fxFlex="25">
                    <input matInput placeholder="Hora de abertura" type="number" [(ngModel)]="location.open_hours">
                  </mat-form-field>
                  <mat-form-field fxFlex="25">
                    <input matInput placeholder="Hora de fechamento" type="number" [(ngModel)]="location.close_hours">
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <mat-form-field fxFlex="100">
                    <input matInput placeholder="Nome do responsável" [(ngModel)]="location.manager_name">
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <mat-form-field fxFlex="20">
                    <input matInput placeholder="Nº de telefone/celular" [(ngModel)]="location.manager_phone_number">
                  </mat-form-field>
                  <mat-form-field fxFlex="70">
                    <input matInput placeholder="Email" type="email" [(ngModel)]="location.manager_email">
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <!--No momento que o usuário selecionar um arquivo disparar change-->
                  <input type="file" style="display:none;" (change)="changefile($event)" #fileinput />
                  <button mat-button color="primary" (click)="fileinput.click()">
                    <mat-icon>add_a_photo</mat-icon> Alterar Foto
                  </button>
                  <!--<p #ngIf="nomearquivo !=''">
                      <strong>Arquivo: {{ nomearquivo }}</strong>
                    </p>-->
                </div>


                <br><br>

                <div style="text-align: center">
                  <button mat-button class="btn btn-warning" (click)="edit()">Editar</button>
                </div>
              </div>
            </div>
          </mat-card>
          <a [routerLink]="['../../']" mat-mini-fab class="float-button">
            <mat-icon>undo</mat-icon>
          </a>