<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0"> Atividades </h4>
            <p class="card-category"> Lista de Atividades</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th>Inicio</th>
                  <th>Quorum</th>
                  <th>Capacidade</th>
                  <th>Periodo</th>
                  <th>Evento</th>
                  <th>Local</th>
                  <th>Sala</th>
                </thead>
                <tbody>
                  <tr *ngFor="let a of activities">
                    <td>{{ a.name}}</td>
                    <td>{{a.description}}</td>
                    <td>{{a.beginning_date}}</td>
                    <td>{{a.manimum_quorum}}</td>
                    <td>{{a.maximum_capacity}}</td>
                    <td>{{a.schedule_id}}</td>
                    <td>{{a.event_id}}</td>
                    <td>{{a.location_id}}</td>
                    <td>{{a.room_id}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>